<md-content layout-padding>
<div>

  <div ng-controller="ListController as main" layout="row">
    <div flex layout="column" role="main" class="md-whiteframe-z2">
      <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="main.toggleLeft()" hide-gt-md aria-label="Open Menu">
        <ng-md-icon icon="menu"></ng-md-icon>
      </md-button>
      <h2 class="header show">Games</h2>

      <md-button ng-click="addGame()" class="md-fab md-primary" aria-label="Add a Game" style="background-color: rgba(20, 200, 220, 0.5); width: 50px;height: 46px; font-size: 22px;" >
        <md-icon md-svg-src="/public/images/angular-logo.svg"></md-icon>
      </md-button>

    <span flex></span>
    <form class="search-box">
      <input class="search-box-input" type="text" required="required" ng-model="search" >
      <button type="reset" class="delete"></button>
    </form>
  </div>
</md-toolbar>

<md-list>

<md-list-item class="md-3-line" ng-repeat="item in todos | filter: search" style="padding-left: 16px; padding-bottom: 10px; padding-top: 10px;">
<div class="md-list-item-text">
  <h3>Title: {{item.title}}</h3>
  <h4>Console: {{item.console}}</h4>
  <p>Year: {{item.year}} ({{item.yearsold}} years old)</p>
  <p>Completed: {{item.completed}}</p>
  <p>Date of completion: {{item.dateCompletion}}</p>
  <p>Personal Notes: {{item.notes}}</p>
</div>
<section layout="column" layout-sm="column" layout-align="center center"  style="padding-top: 1%;">
  <md-button class="md-raised md-primary" ng-click="editGame(item.id)">Edit</md-button>
  <md-button class="md-raised md-warn" ng-click="removeGame(item.id)">Remove</md-button>
</section>
<md-divider ng-if="!$last"></md-divider>
</md-list-item>

</md-list>

</div>
</div>

</div>
</md-content>